/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-image: url(/images/backgroundimageAllPages.jpg);
}

/* Header and Navbar Styles */
header {
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent white background */
    border-bottom: 2px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    padding: 10px 20px;
}

.nav_bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_left, .nav_right {
    display: flex;
    align-items: center;
}

.logo {
    margin: 0 40px; /* Spacing around the logo */
}

.img_logo {
    width: 200px;
    height: auto;
}

.nav-link {
    color: #5a5a5a; /* Slightly darker gray for links */
    font-weight: bold;
    font-size: 20px;
    margin: 0 20px; /* Spacing between nav items */
    padding: 10px 15px; /* Padding for larger clickable area */
    border-radius: 4px; /* Rounded corners for links */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

/* Hover effect for nav links */
.nav-link:hover {
    background-color: #ad0707; /* Background color on hover */
    color: #fff; /* White text on hover */
}

.video_loop {
    width: 100%;
    height: auto;
    display: block;
}

/* Photo Styles */
.img_page1, .photo {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

/* Fade-in effect for photos */
.photo {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
 
.photo.loaded {
    opacity: 1;
}
 


/* Photo and Text Section */
.text_section {
    padding: 40px 0;
}

.photo-container {
    text-align: center;
    margin-bottom: 20px;
}

.text-container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.1em;
}

.text-container p {
    margin: 0;
}

/* Process Steps Section */
.caption_page1 {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.container {
    text-align: center;
}

.bg-dark {
    background-color: #333;
}

.text-light {
    color: #fff;
}

ul.list-unstyled {
    padding: 0;
    list-style-type: none;
}

/* Footer Styles */
footer {
    background-color: #ad0707;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer button {
    background-color: #fff;
    color: #ad0707;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

footer button:hover {
    background-color: #333;
    color: #fff;
}